# Managed by Ansible (wifi_repeater role)
[Unit]
Requires=wifi-repeater-iface.service
After=wifi-repeater-iface.service
StartLimitIntervalSec=300
StartLimitBurst=10

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStartPre=/usr/local/sbin/wifi-repeater-hostapd-conf
ExecStart=
ExecStart=/usr/sbin/hostapd -B -P /run/hostapd.pid /run/wifi-repeater/hostapd.conf
Restart=always
RestartSec=5
